:root {
  --nintendo-red: #e60012;
  --font-color-primary: #484848;
  --button-border-radius: 0.3125em;
  --border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.button-style {
  background: var(--nintendo-red);
  color: white;
  border: none;
  border-radius: var(--button-border-radius);
  padding: 0.75rem;
  font-size: 1.125rem;
  font-weight: 600;
  margin: 0 auto;
  cursor: pointer;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font-color-primary);
}

section {
  border-bottom: var(--border-bottom);
}

section div {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.25rem;
  margin: 3rem auto;
}

main {
  position: relative;
  top: 2.75rem;
  z-index: 97;
}

#overlay.open {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 96;
  cursor: pointer;
}
.top-nav {
  display: flex;

  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 100;
  background: white;
  width: 100%;
  height: 2.75rem;
}

.top-nav__ul__li {
  display: flex;
  justify-content: flex-end;
}

.top-nav__ul__li i {
  margin-right: 0.5rem;
}

.top-nav__left {
  background: #e4000f;
}

.top-nav__right {
  width: 100%;
}

.hamburger {
  position: relative;
  display: block;
  width: 1.5rem;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;
  margin: 0 1rem;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 0.125rem;
  background-color: #484848;
  transition: 0.4s;
}

.hamburger:before {
  transform: translateY(-0.25rem);
}

.hamburger:after {
  transform: translateY(0.25rem);
}

.hamburger.open .bar {
  background: transparent;
}

.hamburger.open:before {
  transform-origin: center;
  transform: translateY(0.125rem) rotate(45deg);
}
.hamburger.open:after {
  transform-origin: center;
  transform: translateY(-0.125rem) rotate(-45deg);
}

.bottom-nav {
  display: block;
  position: fixed;
  top: 0;
  right: -100%;
  width: 60%;
  min-height: 100vh;
  z-index: 98;
  background: lightgray;
  padding-top: 120px;
  transition: 0.4s;
}

.bottom-nav.open {
  right: 0;
}
.bottom-nav__ul__li {
  list-style-type: none;
  display: block;
  text-align: center;
  margin-bottom: 1rem;
  padding: 1rem;
  /* background-color: red; */
}

.bottom-nav__ul__li a {
  text-decoration: none;
  color: #484848;
}

.bottom-nav__ul__li a:hover {
  color: var(--nintendo-red);
}

.logo {
  width: 4.5rem;
  margin: 0.5rem;
}

.top img {
  height: 11.25rem;
  width: auto;
}

.top__text {
  margin: auto 0.5rem;
}
.top__text > * {
  margin: 1rem auto 0rem;
}

.top__text {
  font-size: 1rem;
}

.top-div {
  margin-top: 0rem;
}

.top__image__2 {
  display: none;
}
.available-now__div,
.trending-games__div,
.new-releases__div {
  margin: 3rem 1rem;
}

.available-now__ul,
.trending-games__ul,
.new-releases__ul {
  display: flex;
  text-align: left;
  overflow: scroll;
  overflow-y: hidden;
}

.available-now__ul li,
.trending-games__div li,
.new-releases__div li {
  list-style-type: none;
  margin: 0 1rem;
}

.available-now__ul li > *,
.trending-games__ul li > *,
.new-releases__ul li > * {
  margin: 1rem 0;
}
.available-now__ul img,
.trending-games__ul img,
.new-releases__ul img {
  max-height: 6.5rem;
  width: auto;
  border-radius: 0.3rem;
  margin-bottom: 0;
}

.available-now__ul li h2,
.trending-games__ul li h2,
.new-releases__ul li h2 {
  line-height: 1.5;
  font-size: 1rem;
}

.available-now__ul li p,
.trending-games__ul li p:last-child,
.new-releases__ul li p:last-child {
  color: #484848;
  font-weight: 100;
  font-size: 0.75rem;
  padding-bottom: 0.5rem;
  border-bottom-style: solid;
  border-bottom-color: var(--nintendo-red);
  width: fit-content;
}

.trending-games__date,
.new-releases__date {
  color: #484848;
  font-size: 0.9rem;
}

.news__ul__top {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  text-align: left;
}

.news__ul__top li > * {
  margin: 1rem 0;
}
.news__ul__top img {
  width: 100%;
}

.news__ul__top p {
  font-size: 1rem;
  color: #484848;
  opacity: 0.8;
}

.news__ul__top h2 {
  font-size: 1.125rem;
}

.news__ul__bottom li {
  display: grid;
  grid-template-columns: 1fr 1.75fr;
  grid-auto-rows: 20% 80%;
  grid-template-areas:
    "image date"
    "image title";
  text-align: left;
  padding: 0 0.5rem;
  grid-gap: 1rem;
}

.news__ul__bottom li p {
  grid-area: date;
}

.news__ul__bottom li h2 {
  grid-area: title;
}
.news__ul__bottom img {
  width: 100%;
  border-radius: 0.5rem;
}

.news__ul__bottom h2 {
  font-size: 1.125rem;
}

.news__ul li {
  list-style-type: none;
}

.game-store__div {
  background-image: url("https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/color?v=2021111617");
  color: white;
  font-size: 1.4rem;
  font-weight: 600;
  margin: 3rem 0;
  padding: 1rem 0;
}

.game-store__div p {
  margin: 2rem;
}

.game-store button {
  background: rgba(0, 0, 0, 0.5);
}

.game-store img {
  width: 19rem;
  margin: 0 auto;
}

.game-store i {
  margin-left: 1rem;
}

.explore-gaming-systems {
  margin: 3rem 0;
}

.explore-gaming-systems img {
  margin: 1.5rem auto;
  width: 100%;
}

.explore-gaming-systems button {
  margin: 1.5rem auto 0rem;
}

.holiday-gift-guide__div {
  color: white;
  background-image: url("https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/Special-Event-Banners/HGG2021/Pattern_sparklered_200x200?v=2021111617");
}

.holiday-gift-guide__div {
  margin-bottom: 3rem;
}

.holiday-gift-guide__div img {
  width: 100%;
  margin: 2rem auto;
}

.holiday-gift-guide__div button {
  background: rgba(0, 0, 0, 0.5);
  margin: 2rem auto;
}

.holiday-gift-guide__div i {
  margin-left: 1rem;
}

.holiday-gift-guide h3 {
  width: 80%;
  margin: 0 auto;
}

.holiday-gift-guide button p {
  display: inline;
  font-size: 1.125rem;
}

.news__div__top__item {
  text-align: left;
  width: 100%;
  padding: 0 0.5rem;
}

.news__div__top__item img {
  width: 100%;
}

.news__div__top__item h2 {
  font-size: 1.125rem;
}
.news__div__top__item p {
  font-size: 1rem;
  line-height: 1.5;
  color: #484848;
}

.news__div__bottom__item {
  width: 100%;
  padding: 0 0.5rem;
}

.news__div__bottom__item img {
  width: 100%;
}
.shop-by-character__items {
  margin: 3rem 0.5rem;
}

.shop-by-character__items__grid {
  display: grid;
  grid: repeat(2, 1fr) / repeat(2, 1fr);
  grid-template-areas:
    "mario link-zelda"
    "animal-crossing kirby";
  grid-gap: 2rem;
}

.shop-by-character__item {
  margin: 0;
}

.shop-by-character__item h2 {
  font-size: 1.25rem;
  text-align: left;
  margin: 1rem 0 0 0;
  font-weight: 550;
}

.shop-by-character__items p {
  font-size: 0.75rem;
  text-align: left;
  line-height: 1.5rem;
}
.shop-by-character img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 10px;
}

.mario {
  background-image: url("https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/mario-bg?v=2021052718");
  grid-area: mario;
}
.link-zelda {
  background-image: url("https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/zelda-bg?v=2021052718");
  grid-area: link-zelda;
}
.animal-crossing {
  background-image: url("https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/Animal_Crossing_A_background?v=2021052718");
  grid-area: animal-crossing;
}
.kirby {
  background-image: url("https://assets.nintendo.com/image/upload/f_auto,q_auto/ncom/en_US/merchandising/Kirby_B_background?v=2021052718");
  grid-area: kirby;
}

.bottom__items {
  margin: 0;
}

.bottom__item,
.change-region {
  margin: 0;
  width: 100%;
}
.bottom__item__h2 {
  padding: 1rem;
  border-bottom: var(--border-bottom);
  margin: 0;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1rem;
  color: #1660a0;
  background: white;
}

.bottom__item i {
  margin: auto 0;
}

.bottom__item ul {
  padding: 1rem;
  border-bottom: var(--border-bottom);
}

.bottom__item li {
  list-style-type: none;
  padding: 0.75rem 0;
  text-align: left;
  color: #484848;
}

footer {
  background: linear-gradient(to bottom, #3c3a3a 0, #484848 50%);
  color: white;
}

.footer__div {
  display: flex;
  flex-direction: column;
}

.footer__top {
  display: flex;
  flex-direction: column;

  align-content: center;
}

.footer__top > * {
  margin: 1rem;
}
.footer__top__left {
  display: flex;
  flex-direction: column;
}
.footer__top__left > * {
  margin: 0.5rem;
}
.footer__contact__p {
  display: flex;
  justify-content: space-evenly;
}

.footer__contact__social-icon {
  display: flex;
  justify-content: space-evenly;
}

.footer__bottom {
  text-align: center;

  padding: 0.5rem;
  line-height: 1.5;
  font-size: 0.75rem;
}

.footer__bottom > * {
  margin: 0.5rem;
}

.footer__top img {
  margin: 0rem auto 0.5rem;
}

.fab {
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.fa-facebook {
  background: #1778f2;
}

.fa-instagram {
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
}

.fa-twitter {
  background: #00acee;
}

.fa-youtube {
  background: #e60012;
}

.privacy-certified {
  width: 4rem;
}

.footer__tag {
  font-size: 0.75rem;
  line-height: 1.5rem;
}
@media (min-width: 379px) {
  .footer__top {
    flex-direction: row;
    margin: 0 auto;
    max-width: 400px;
  }

  .footer__contact__p p {
    margin: 0.5rem;
  }

  .footer__div img {
    margin: auto 1rem auto 0;
  }
}
@media (min-width: 429px) {
  .button-style {
    padding: 1.25rem 2rem;
    font-size: 1.25rem;
  }
  .top-div img {
    height: auto;
  }
  .top__image__1 {
    display: none;
  }
  .top__image__2 {
    display: block;
  }

  .top__text {
    flex-direction: row;
  }
  .top__text button {
    font-size: 1.25rem;
    padding: 1rem 1.25rem;
  }
  .top__text h2 {
    text-align: left;
    width: 60%;
  }
  .holiday-gift-guide__div img {
    width: 20rem;
  }
}

@media (min-width: 571px) {
  .game-store__div,
  .holiday-gift-guide__div {
    flex-direction: row;
  }

  .game-store__div__text,
  .holiday-gift-guide__div__text {
    display: flex;
    flex-direction: column;
  }
  .game-store__div img,
  .holiday-gift-guide__div img {
    margin: auto 0;
    height: 100%;
  }

  .news__ul__top {
    flex-direction: row;
    width: 100%;
  }

  .news__ul__top li {
    flex: 1;
    padding: 0.5rem;
  }

  .news__ul__bottom {
    display: flex;
  }

  .news__ul__bottom li {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}
/* class settings */
.hidden {
  display: none;
}
